<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AllSalesApp.Properties.Settings.AllSalesAppConnectionString"
            connectionString="Data Source=LAPTOP-RS890769\SQLEXPRESS;Initial Catalog=AllSalesApp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>